.register {
    max-width: 396px;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.register__logo {
    width: 38px;
    height: 38px;
    opacity: 1;
	transition: opacity 0.5s ease;
    margin-bottom: 40px;
}

.register__logo:hover {
    opacity: 0.7;
}

.register__title {
    padding: 0;
    margin: 0 0 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.register__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 413px;
}

.register__name {
    margin: 0 0 5px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
}

.register__input {
    background: 0;
    border: 0;
	margin: 0 0 24px;
	padding: 0 0 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
	border-bottom: 1px solid #424242;
    color: #FFF;
    transition: border-bottom 0.5s ease;
}

.register__input:focus {
    outline: none;
    border-bottom: 1px solid #4285F4;
}

.register__input_error-switch {
    color: #EE3465;
    border-bottom: 1px solid #EE3465;
    margin: 0;
}

.register__input_password {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.register__input-error {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin: 6px 0 6px;
}

.register__input-error_active {
    display: block;
}

.register__form-button {
    margin: 134px 0 16px;
    border: 0;
    padding: 13px 125px 15px;
    background-color: #4285F4;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.register__form-button:hover {
	cursor: pointer;
	opacity: 0.7;
}

.register__signin {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.register__signin-text {
    margin: 0 6px 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
}

.register__signin-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4285F4;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.register__signin-link:hover {
    opacity: 0.7;
}