.footer {
    max-width: 1140px;
    max-height: 172px;
    padding: 0 70px 0;
    margin: 79px auto 20px;
    display: flex;
    flex-direction: column;
}

.footer__info {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #8B8B8B;
    margin: 0 auto 20px;
    padding: 0;
}

.footer__line {
    width: 100%;
    border-bottom: 1px solid #424242;
    margin: 0 0 20px;
}

.footer__data-and-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__data {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__links {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.footer__link-block {
    list-style-type: none;
}

.footer__link {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    color: #FFF;
    opacity: 1;
	transition: opacity 0.5s ease;
    margin: 0 20px 0 0;
}

.footer__link:last-child {
    margin: 0;
}

.footer__link:hover {
    opacity: 0.7;
}